@font-face {
    font-family: myFont;
    src: url(/fonts/ZF2334AfteraRain-Regular.otf);
}


body {
    margin: 0;
    font-family: system-ui, sans-serif;
    overflow: hidden;
    

}

.gradient-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgb(0, 0, 20) 75%,
        rgb(12, 12, 44)
    );

}



/* Glow only affects the bottom */
.gradient-background::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to bottom,
        transparent 65%,
        rgba(104, 104, 196, 0.9)
    );

    animation: background-glow 6s easse-in-out infinite alternate;
    pointer-events: none;
    z-index: 0;
}

.gradient-background > * {
    position: relative;
    z-index: 1;
}

@keyframes background-glow {
    from { opacity: 0.2; }
    to   { opacity: 0.6; }
}


.content-container {
    font-family: myFont;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}


.home h1,
.home h3 {
    margin: 0;
    font-size: 50px;
}

.home h3 {
    margin-top: 0.50rem;
}

.shortcuts  {
    margin-top: 5rem;
}

.shortcuts {
    display: flex;
    gap: 50px;
    
}

.shortcuts p {
    cursor: pointer;
    font-size: 2vh; 
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 10px rgb(12, 12, 44);
}

.shortcuts p:hover {
    transform: scale(1.5);
    box-shadow: 0 0 25px rgb(80, 80, 180);
}
