body {
    height: 100vh;
    display: flex;
    background-size: auto;
    background-image: linear-gradient(to bottom, rgb(0,0,20)80%, rgb(20, 20, 63));    
}

.home {
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1,
.home h2, 
.home{
    margin: 0;
}

.home h2 {
    margin-top: 0.50rem;
}

.shortcuts  {
    margin-top: 1rem;
}

.shortcuts {
    display: flex;
    gap: 20px;
}

.shortcuts p {
    cursor: pointer;
}